.services{
    position: relative;
    overflow-x: hidden;
    padding-bottom:50px ;
    background: transparent;
    color: white;
    h2{
        font-size: 8.5vw;
        font-weight: 900;
        line-height: .9;
    }
    .secondary-heading{
        margin-left: calc(5vw + 4vw);
    }
    .headings{
        margin: 100px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0px;
        padding: 0px calc(7.5vw + 5px) 0px;
        // overflow-x: hidden;

        .mainHeadingsContainer{
            overflow: hidden;
        }

        
        .img-content{
            display: flex;
            justify-content: start;
            gap: 30px;
            flex-direction: column;
            align-items: end;

            img{
                width: 120px;
            }

            h5{
                font-size: 22px;
                text-align: right;
            }
        }
    }

    .services-content{
        // background: crimson;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
        width: 100%;;
        padding: 100px calc(3.5vw + 5px);

        .services-item{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;
            min-height: 80vh;
            width: 100%;
            background: #ffffff;
            border: 2px solid black;
            padding: 60px 50px;
            border-radius: 50px;

            .left-side{
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 30px;

                .third-heading{
                    font-size: 5.5vw;
                    font-weight: 900;
                    line-height: 0.7;
                }

                .buttons{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 20px;
                    width: 100%;


                   
                }
                .btn2{
                    font-size: 1.25rem;
                    padding: 7px 20px;
                    border-radius: 50px;
                    outline: none;
                    cursor: pointer;
                    font-weight: 500;
                    border: 1px solid rgba(146, 146, 146, 0.767);
                    background: transparent;
                    transition: all 500ms ;
                }
                .btn2:hover {
                    background: black;
                    color: white;

                }
                p{
                    font-size: 1.25rem;
                    font-weight: 500;
                    letter-spacing: 1px;
                    line-height: 1.4;
                }
            }
            .right-side{
                height: 70vh;
                width: 100%;
                overflow: hidden;
                border-radius:100px 0 100px 0px ;

                video{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

        }

    }
    }


    @media screen and (max-width: 480px) { 

.services{
    h2{
        font-size: 13.5vw;
    }
    .secondary-heading{
        margin-left: calc(5vw + 4vw);
    }
    .headings{
        margin-top: 50px;
        margin-bottom: 50px;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 0px calc(3.5vw + 5px) 0px;

        .img-content{

            img{
                width: 60px;
            }

            h5{
                font-size: 1.25rem;
                text-align: right;
            }
        }
    }

    .services-content{
        gap: 10px;
        padding: 0px !important;

        .services-item{
            display: flex;
            flex-direction: column-reverse;
            gap: 30px;
            border-radius: 0px;
            padding: 20px 0;
            border: none;
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            
            .left-side{
                padding:0 20px;
                gap: 30px;

                .third-heading{
                    text-align: center;
                    margin: 0 auto;
                    font-size: calc(5.5vw + 6vw);
                }

                .buttons{
                    grid-template-columns: 1fr ;
                    gap: 10px;
                }
                p{
                    font-size: 16px;
                }
            }
            .right-side{
                height: 35vh;
                width: 80%;
                margin: 0 auto;
            }

        }

    }
    }









        // .services{
        //     h2{
        //         font-size: 12.5vw;
        //     }
        //     .secondary-heading{
        //         margin-left:0;
        //     }
        //     .headings{
        //         display: flex;
        //         flex-direction: column;
        //         height: fit-content;
        //         width: 100%;
        //         text-align: left;
        //         padding: 0px;
        
        //         .img-content{
        //             align-items: center;
        //             img{
        //                 width: 40px;
        //             }
        //         }
        //     }
        
        //     .services-content{
        //         gap: 100px;
        //         padding: 10px;
                
        //         .services-item{
        //             display: flex;
        //             flex-direction: column-reverse;
        //             border: 2px solid black;
        //             padding:10px 10px;
        //             gap: 30px;
        
        //             .left-side{
        //                 .third-heading{
        //                     font-size: 11.5vw;
        //                     width: fit-content;
        //                     margin: 0 auto;
        //                     text-align: center;
        //                 }
        //                 .buttons{
        //                     grid-template-columns: 1fr ;
        //                     gap: 10px;
        //                 }
        //                 p{
        //                     font-size: 18px;
        //                 }
        //             }
                   
        
        //         }
        
        //     }
        //     }


    }