.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 9999;
}

.loader-image {
  animation: popUp 4s ease-in-out forwards;
}

@keyframes popUp {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  20% {
    transform: scale(1);
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}