.faq{

    position: relative;
    width:100%;
    padding: 100px calc(7.5vw + 5px ) ;
    background: transparent;
    color: white;

    .waveContainer{
        position: absolute;
        width: 100%;
        height: 100%;
        // z-index: -1;
        left: 0;
        top: 0;
        // background: red;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .main-heading{
        font-size: 5.5vw;
        letter-spacing: 1px;

        
    }
    .questions-container{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 10px;
        max-width: 700px;

        .item{
            display: flex;
            flex-direction: column;
            background: rgba(0, 0, 0, 0.162);
            border-radius: 10px;
            gap:20px;
            width: 100%;
            padding: 5px 12px 5px 0;

            // border: 2px solid white;
            
            .question{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 1.25rem;
                cursor: pointer;
                letter-spacing: 1px;

                h4:last-child{
                    font-size: 2.5rem;
                    line-height: 0;
                }
                .plusIcon{
                    transition: all ease 500ms;
                }

                
            }
            .answer{
                font-size: 1rem;
                line-height: 1.4;
                display: none;
                height: 0;
                letter-spacing: 0.5px;
                opacity: 0.8;
                overflow: hidden;

                p{
                    animation: moving 500ms ease;

                }

            }
            .answer.active{
                display: flex;
                height: fit-content;
            }

            
        }
    }

    @keyframes moving {
        from {
          transform: translateY(100px);
          opacity: 0;
        }
        to {
          transform: translateY(0px);
          opacity: 1;
        }
      }
}




@media screen and (max-width: 480px) {

    .faq{

        padding: 50px calc(3.5vw + 5px ) ;
    
        .main-heading{
            font-size: calc(5.5vw + 8vw);
        }
       
       
    }
}