


.container{
    // margin-top: 100px;
    min-height: calc(100vh - 100px);
    padding: 250px calc(7.5vw + 5px) 0;
    // background: radial-gradient(125% 125% at 50% 10%, rgb(255, 255, 255) 40%, #63e 100% );
     color: rgba(255, 255, 255, 0.9);

    .bgVideo{
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    
        video{
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
   


    .intro{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        
        .left-side{
            h5{
                font-size: 2vw;
                line-height: 1.4;
                font-weight: 900;
            }
            h5:last-child{
                margin-top: 20px;
                font-weight: 900;
                font-size: 1.45rem;
                max-width:600px ;
            }
        }
        .right-side{
            position: relative;
            bottom: 130px;
            span{
                font-size: 18px;
                font-weight: 900;
                color: white;
                opacity: 0.7;
            }
            .number , .email{
                h6{
                    font-size: 2rem;
                    margin: 5px 0;

                }
            }
            .question{
                p{
                    font-size: 18px;
                    font-weight: 900;
                    color: white;
                    opacity: 0.7;
                }

                div{
                    display: flex;
                    gap: 10px;
                    justify-content: start;
                    align-items: center;

                    a{
                        text-decoration: none;
                        color: white;
                        font-size: 1.25rem;
                        font-weight: 900;
                    }
                }
            }
        }
    }

    .formContainer{
        margin-top: 100px;
        max-width: 60vw;
        color: white;


        .form{

            legend{
                font-size: 3.5rem;
                font-weight: 900;
                color: white;
            }

            .checkBoxes{
                display: flex;
                justify-content: start;
                align-items: center;
                flex-wrap: wrap;
                margin-top:50px ;
                gap: 20px;

                label{
                    width: fit-content;
                    display: flex;
                    align-items: center;
                    padding: 10px 30px;
                    border: 2px solid white;
                    border-radius: 50px;
                    font-weight: 900;
                    font-size: 24px;
                    cursor: pointer;
                    transition: all 500ms;
                }
                label:hover{
                    background: black;
                    color: white;
                }
                input{
                    display: none;
                }

            }

            .inputData{
                margin-top: 50px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 50px;

            }
            .names{
                display: flex;
                gap: 50px;
                input{
                    width: 50%;
                }
            }

            input{
                font-size: 1.45rem;
                background: none;
                border: none;
                outline: none;
                padding: 10px 0px;
                color: white;

                border-bottom: 2px solid white;
            }
            input::placeholder{
                color: white;

            }
            .message{
                margin-top: 50px ;
                input{
                    width: 100%;
                    margin-bottom: 30px;
                }

                .submit{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 50px;

                    .submitButton{
                        .explore-more{
                            button {
                                position: relative;
                                display: inline-block;
                                cursor: pointer;
                                outline: none;
                                border: 0;
                                vertical-align: middle;
                                text-decoration: none;
                                background: transparent;
                                padding: 0;
                                font-size: inherit;
                                font-family: inherit;
                                border-radius: 1.625rem;
                               }
                               
                               button.learn-more {
                                width: 15rem;
                                height: auto;
                               }
                               
                               button.learn-more .circle {
                                transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
                                position: relative;
                                display: block;
                                margin: 0;
                                width: 3rem;
                                height: 3rem;
                                background:white;
                                border-radius: 1.625rem;
                               }
                               
                               button.learn-more .circle .icon {
                                transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                margin: auto;
                                background: black;
                                color: rgb(0, 0, 0);
                               }
                               
                               button.learn-more .circle .icon.arrow {
                                transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
                                left: 0.625rem;
                                width: 1.125rem;
                                height: 0.125rem;
                                background: black;
                               }
                               
                               button.learn-more .circle .icon.arrow::before {
                                position: absolute;
                                content: "";
                                // background: white;
                                top: -0.29rem;
                                right: 0.0625rem;
                                width: 0.625rem;
                                height: 0.625rem;
                                border-top: 0.125rem solid #000;
                                border-right: 0.125rem solid #000;
                                transform: rotate(45deg);
                               }
                               
                               button.learn-more .button-text {
                                transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
                                position: absolute;
                                width: 88%;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                padding: 0.70rem 0;
                                margin: 0 0 0 1.85rem;
                                color: white;
                                border: 2px solid white;
                                border-radius: 1.625rem;
                                font-weight: 900;
                                line-height: 1.6;
                                text-align: center;
                                text-transform: uppercase;
                                letter-spacing: 1.45px;
                               }
                               
                               button:hover .circle {
                                width: 100%;
                               }
                               button:hover .circle .icon.arrow {
                                background:black;
                                transform: translate(1rem, 0);
                               }
                               
                               button .button-text {
                                    color: white;
                               }
                               button:hover .button-text {
                                color: black;
                                border: none;
                               }
                        }
                    }
                }
            }

           
        }
        
    }
    .operation{
        margin-top: 100px;
        width: 60vw;
            color: rgba(255, 255, 255, 0.9);

        h2{
            font-size: 3.5rem;
            font-family: 900;
            font-family: gilroy-extra-bold;
                color: rgba(255, 255, 255, 0.9);

        }
        h3{
            font-size: 2.5rem;
            font-family: gilroy-extra-bold;
            margin-top: 30px;
                color: rgba(255, 255, 255, 0.9);



        }
        h6{
            font-size: 24px;
            font-family: 900;
            margin-top: 20px;
                color: rgba(255, 255, 255, 0.9);

            
        }
        p{
            font-size: 1.25rem;
            font-weight: 900;
            margin-top: 20px;
        }

        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style: decimal;
            gap: 10px;
            margin-top: 10px;
            margin-left: 30px;

            li{
                font-size: 1.25rem;
                margin-top: 5px;
                span{
                    font-weight: 900;
                }
            }
        }



    }
    .error {
        color: red;
        margin-top: 10px;
        font-size: 0.875em;
      }

}
.checkbox-wrapper-24 {
    margin-top: 10px;
}

  .checkbox-wrapper-24 .checkbox {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
  }

  .checkbox-wrapper-24 label {
    display: grid; grid-template-columns: 20px 1fr;
    gap: 30px;
    
    cursor: pointer;
    position: relative;


    p{
        font-size: 1.25rem;
        font-weight: 900;
        color: #ffffff;
    opacity: .8;
    }
  }
  .checkbox-wrapper-24 label span {
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 25px;
    height: 25px;
    transform-origin: left;
    border: 2px solid #ffffffc6;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
    transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
  }
  .checkbox-wrapper-24 label span:before {
    content: "";
    width: 0px;
    height: 2px;
    border-radius: 2px;
    background: #ffffffd2;
    position: absolute;
    transform: rotate(45deg);
    top: 11px;
    left: 7px;
    transition: width 50ms ease 50ms;
    transform-origin: 0% 0%;
  }
  .checkbox-wrapper-24 label span:after {
    content: "";
    width: 0;
    height: 2px;
    border-radius: 2px;
    background: #ffffffd2;
    position: absolute;
    transform: rotate(305deg);
    top: 14px;
    left: 8px;
    transition: width 50ms ease;
    transform-origin: 0% 0%;
  }
  .checkbox-wrapper-24 label:hover span:before {
    width: 5px;
    transition: width 100ms ease;
  }
  .checkbox-wrapper-24 label:hover span:after {
    width: 10px;
    transition: width 150ms ease 100ms;
  }

  .checkbox-wrapper-24 input[type=checkbox] {
    display: none;
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label span {
    background-color: #333;
    transform: scale(1.25);
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label span:after {
    width: 10px;
    background: #fff;
    transition: width 150ms ease 100ms;
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label span:before {
    width: 5px;
    background: #fff;
    transition: width 150ms ease 100ms;
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label:hover span {
    background-color: #333;
    transform: scale(1.25);
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label:hover span:after {
    width: 10px;
    background: #fff;
    transition: width 150ms ease 100ms;
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label:hover span:before {
    width: 5px;
    background: #fff;
    transition: width 150ms ease 100ms;
  }


  

  @media screen and (max-width: 480px) {  
  
    .container{
        padding: 120px calc(3.5vw + 5px);
    
        .intro{
            gap: 30px;
            flex-direction: column;
            
            .left-side{
                h5{
                    font-size: 7.5vw;
                }
                h5:last-child{
                    font-size: 1.25rem;
                }
            }
            .right-side{
                bottom: 0px;
                span{
                    font-size: 16px;
                }
                .number , .email{
                    h6{
                        font-size: 1.45rem;
    
                    }
                }
                .question{
                    p{
                        font-size: 16px;
                    }
    
                    div{
                        flex-direction: column;
                        align-items: start;
    
                        a{
                            font-size: 1.05rem;
                        }
                    }
                }
            }
        }
    
        .formContainer{
            margin-top: 50px;
            max-width: 100vw;
            .form{
                legend{
                    font-size: 2.5rem;
                }
                .checkBoxes{
                    justify-content: center;
                    label{
                        width: fit-content;
                        padding: 5px 20px;
                    }
                    label:hover{
                        background: black;
                        color: white;
                    }
                    input{
                        display: none;
                    }
                    span{
                        margin: 0 auto;
                        font-size: 18px;
                    }
    
                }
                .inputData{
                    grid-template-columns: 1fr;
                    gap: 30px;
    
                }
                .names{
                    display: flex;
                    flex-direction: column;
                    gap: 30px;

                    input{
                        width: 100%;
                    }
                }
    
                input{
                    font-size: 1.25rem;
                }
                .message{
                    margin-top: 30px ;
    
                    .submit{
                        flex-direction: column;
                        gap: 30px;

                        p{
                            font-size: 18px;
                        }
                    }
                }
    
               
            }
            
        }
        .operation{
            margin-top: 50px;
            width: 100%;
            h2{
                font-size: 2.5rem;
            }
            h6{
                font-size: 20px;
            }
            p{
                font-size: 18px;
            }
    
            ul{
                li{
                    font-size: 18px;
                }
            }
    
    
        }
    
    }

}